html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container-fluid {
  padding: 0;
}

.modal-content{
    padding: 20px;
}

#search {
    display: block;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 74px;
}