 <div class="modal-header">                    
    <h4 class="modal-title" id="myModalLabel">
        {{title}} Donor Information
    </h4>
</div>

<!-- Modal Body -->
<div class="modal-body" *ngIf="!isAdd">    
    <form role="form">
        <div class="form-group">
            <label >First Name</label>
            <input type="text" class="form-control" [value]="context.donor.firstName" name="first" readonly/>
        </div>
        <div class="form-group">
            <label >Last Name</label>
            <input type="text" class="form-control" [value]="context.donor.lastName" name="last" readonly/>
        </div>
        <div class="form-group">
            <label >Email Address</label>
            <div class="input-group">
                <input type="email" class="form-control" [value]="email" name="email" readonly/>
                <span class="input-group-addon" (click)="email=context.donor.email">Show</span>
            </div>
        </div>
        <div class="form-group">
            <label>Contact number</label>
            <div class="input-group">
                <input type="text"  class="form-control" [value]="phone" name="phone" readonly/>
                <span class="input-group-addon" (click)="phone=context.donor.phone">Show</span>
            </div>
        </div>
        <div class="form-group">
            <label>Blood Group</label>
            <input type="text" class="form-control" [value]="context.donor.bloodgroup" name="bloodgroup" readonly/>
        </div>       
    </form>    
</div>
<div class="modal-body" *ngIf="isAdd">
    <form (ngSubmit)="onSubmit()" >
        <div class="form-group">
            <label >First Name</label>
            <input [(ngModel)]="context.donor.firstName" name="first" type="text" class="form-control" placeholder="Enter First Name" required />
        </div>
        <div class="form-group">
            <label >Last Name</label>
            <input [(ngModel)]="context.donor.lastName" name="last" type="text" class="form-control" placeholder="Enter Last Name" required />
        </div>
        <div class="form-group">
            <label >Email Address</label>
            <input [(ngModel)]="context.donor.email" name="email" type="email" class="form-control" placeholder="Enter Email" required />
        </div>
        <div class="form-group">
            <label>Contact number</label>
            <input [(ngModel)]="context.donor.phone" name="phone" type="text" pattern="\+[1-9]{3}[0-9]{9}|00[1-9]{3}[0-9]{9}" class="form-control" placeholder="Enter Contact Number" required />
        </div>
        <div class="form-group">
            <label>Blood Group</label>
            <input [(ngModel)]="context.donor.bloodgroup" name="blood" type="text" class="form-control" placeholder="Blood Group" required />
        </div>                 
        <div class="alert alert-success" *ngIf="showAlert">
            <strong>Success!</strong> Use this link to edit {{link}}
        </div>       
        <button type="submit" class="btn btn-primary" *ngIf="!hideAdd">Add Me</button>
    </form>    
</div>